html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body,html {
    background: url("../img/loging_lowerBg.jpg") repeat;
    min-height: 100%;
    font-family: 'helvaitca', sans-serif, arial;
    font-weight: normal;
    color: white;
}

.headerWrap {
    border-bottom: 1px solid #cdcdcd;
    position: fixed;
    width: 100%;
    z-index: 9999;
    background: white;
    padding: 5px 30px;
}
.footerWrap {
    -moz-box-sizing: border-box;
    color: #333333;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #f5f5f5;
    text-align: center;
    padding: 10px 30px;
    border-top: 1px solid #dddddd;
    box-shadow: 0 0 0 1px #f0f0f0;
    width: 100%;
}
.dropDownTempWrap .accessTextWrap, .accessTextWrap {
    padding: 0 20px;
}
.logoWrap {
    width: 70px;
}
.logoWrap img {
    max-width: 100%;
}